.tituloPrincipal{
    padding-left: 30px;
}
#banner{
    width: auto;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}
.diferenciales{
    background: #FFFFFF;
    padding: 30px;
}

.tituloCentralizado{
    text-align: center;
}

.items{
    font-style: italic;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagenDiferenciales{
    width: 50%;
}